<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kritsana.com</title>
    {% load static %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
body {
  min-height: 500px;
  padding-top: 70px;
  background: #DFFFFE;
}
.jumbotron {
    margin-bottom: 0px;
    height: 300px;
    color: white;
    <!--text-shadow: black 0.3em 0.3em 0.3em;-->
    background: transparent;
    background-color: #009B94;
}
</style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">kritsana.com</a>
    </div>

    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><i class="glyphicon glyphicon-home"> Home</i> <span class="sr-only">(current)</span></a></li>
        <li><a href="#">ผู้จัดทำ</a></li>
         <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-th-large"> บทเรียน HTML 5 </i> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'chap1' %}">บทที่ 1 HTML5 คืออะไร</a></li>
            <li><a href="{% url 'chap2' %}">บทที่ 2 HTML5 new Elements  </a></li>
            <li><a href="{% url 'chap3' %}">บทที่ 3 HTML5 Canvas</a></li>
            <li><a href="{% url 'chap4' %}">บทที่ 4 HTML5 SVG  </a></li>
            <li><a href="{% url 'chap5' %}">บทที่ 5 drag and drop </a></li>
            <li><a href="{% url 'chap6' %}">บทที่ 6 HTML5 video</a></li>
            <li><a href="{% url 'chap7' %}">บทที่ 7 HTML5 audio </a></li>
            <li><a href="{% url 'chap8' %}">บทที่ 8  New Input Types 1</a></li>
            <li><a href="{% url 'chap9' %}">บทที่ 9 HTML5 Web Storage</a></li>
            <li><a href="{% url 'chap10' %}">บทที่ 10 HTML5 Application Cache </a></li>
            <li><a href="{% url 'chap11' %}">บทที่ 11 HTML5 SSE</a></li>
            <li><a href="{% url 'chap12' %}">บทที่ 12 HTML5 Form Elements ตอนที่ 1</a></li>
            <li><a href="{% url 'chap13' %}">บทที่ 13 HTML5 Web Worker</a></li>
            <li><a href="{% url 'chap14' %}">บทที่ 14 HTML5 Geolocation ตอนที่ 2</a></li>
            <li><a href="{% url 'chap15' %}">บทที่ 15 HTML5 Form Attributes ตอนที่ 1 </a></li>
            <li><a href="{% url 'chap16' %}">บทที่ 15 HTML5 Form Attributes ตอนที่ 2 </a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><i style="font-size:15px" class="fa">&#xf13b;</i> Credit link: mindphp.com </a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><i style="font-size:15px" class="fa">&#xf09a;</i> Facebook : Kritsana Prasit</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <li class="active "><a href="#">เข้าสู่ระบบ</a></li>
       <li><a href="http://localhost:8000/admin/myapp/entry/add/">เเจ้งประกาศ Admin</a></li>
        <!---<button type="button" id="btn" class="btn navbar-btn btn-danger" data-toggle="modal" data-target="#myModalHorizontal"><i class="glyphicon glyphicon-log-in"></i> เข้าสู่ระบบ</button>-->
        <!--<li><a href="#"><span class="glyphicon glyphicon-log-in" data-toggle="modal" data-target="#exampleModal"></span> Sign in</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-pencil"></span> Register</a>
        </li>-->
      </ul>
    </div>
  </div>
</div>
</nav>

<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img src="{% static 'myapp/img/benner.jpg' %}"  style="width:100%;">
      </div>

      <div class="item">
        <img src="{% static 'myapp/img/benner2.jpg' %}"  style="width:100%;">
      </div>
    
      <div class="item">
        <img src="{% static 'myapp/img/bener3.jpg' %}"  style="width:100%;">
      </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<br>
<div class="container">
  <div class="col-md-3">
    <div class="panel panel-primary">
    <div class="panel-heading">
      <i class="glyphicon glyphicon-log-in"> ลิงค์ภายนอก</i>
    </div>
    <div class="panel-body">
      <div class="wrapper">
        <table width="100%" border="0" cellspacing="2" cellpadding="2">
          <tr style="border-bottom: dashed 1px #cccccc" bgcolor="#FFFFFF" >
          </tr>
          <tr style="border-bottom: dashed 1px #cccccc"  bgcolor="#FFFFFF" onMouseOver="bgColor='#FCF8B2'" onMouseOut="bgColor='#FFFFFF'">
                  <td valign="middle" height="27"><a href="http://www.mindphp.com" target="_parent"><span style="color :#4fc1e9"><i class="fa fa-"></i></span> mindphp.com </a></td>
          </tr>
          <tr style="border-bottom: dashed 1px #cccccc"  bgcolor="#FFFFFF" onMouseOver="bgColor='#FCF8B2'" onMouseOut="bgColor='#FFFFFF'">
                  <td valign="middle" height="27"><a href="https://www.djangoproject.com/" target="_parent"><span style="color :#4fc1e9"><i class="fa fa-"></i></span>  Python django </a></td>
          </tr>
          <tr style="border-bottom: dashed 1px #cccccc"  bgcolor="#FFFFFF" onMouseOver="bgColor='#FCF8B2'" onMouseOut="bgColor='#FFFFFF'">
                  <td valign="middle" height="27"><a href="https://wichit2s.gitlab.io/linuxlab/" target="_parent"><span style="color :#4fc1e9"><i class="fa fa-"></i></span>  Linux Lab </a></td>
        </table>
      </div>
    </div>
    </div>
  </div>
<div class="col-md-9">
   <div class="panel panel-primary">
      <div class="panel-heading">ข่าวประชาสัมพันธ์</div>
      <div class="panel -body">
        <div class="wrapper">
          <p>{% block content %}
            
            {% endblock %} </p>
          <blockquote>
            <p><strong>บทที่ 5  drag and drop </strong><br>
                   drag and drop คือการคลิกที่วัตถุค้างเอาไว้ แล้วลากไปวางยังพื้นที่   ที่ต้องการ โดยการลากไปวางนั้นวัตถุจะเคลื่อนที่ตามเคอร์เซอร์เมาส์ไปด้วย   จนกว่าเราจะปล่อยมือจากการคลิกเมาส์ วัตถูก็จะมาอยู่ที่ตำแหน่งใหม่ ซึ่งการ   drag and drop จะช่วยให้เราสามารถย้ายวัตถุได้อย่างอิสระตามต้องการ<br>
            ตัวอย่าง</p>
            <pre>&lt;html&gt;  &lt;head&gt;  &lt;style type="text/css"&gt;  #div1 {width:350px;height:200px;padding:10px;border:1px solid #aaaaaa;}  &lt;/style&gt;  &lt;script&gt;  function allowDrop(ev)  {ev.preventDefault();}    function drag(ev)  {ev.dataTransfer.setData("Text",ev.target.id);}    function drop(ev)  {ev.preventDefault();  var data=ev.dataTransfer.getData("Text");  ev.target.appendChild(document.getElementById(data));}  &lt;/script&gt;  &lt;/head&gt;  &lt;body&gt;    &lt;p&gt;Drag the Koala image into the rectangle:&lt;/p&gt;    &lt;div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"&gt;&lt;/div&gt;  &lt;br&gt;  &lt;img id="drag1" src="http://images.temppic.com/20-10-2012  /images_vertis/1350706157_0.24874200.jpg" draggable="true" ondragstart="drag(event)" width="300" height="180"&gt;    &lt;/body&gt;  &lt;/html&gt;</pre>
            <p>ผลลัพธ์คือ<br>
              <img src="http://mindphp.com/images/stories/encyclopedia/html59.jpg" alt="" width="244" height="314"><br>
              จากตัวอย่าง <br>
              1. เราสามารถลากภาพโคอาล่า ไปใส่ในกรอบสี่เหลี่ยมได้ ด้วยแท็กนี้ <br>
              และหากเราต้องการล๊อกภาพให้อยู่กับที่ไม่ให้ย้ายไปย้ายมาได้ ก้ให้เปลี่ยนจากคำว่า true เป็น false</p>
            <pre>&lt;img draggable="true"&gt; </pre>
            <p>2.แท็กใส่รูปภาพ ที่ต้องการให้ลากได้</p>
            <pre>&lt;img id="drag1" src="/ ใส่ URL ของภาพ " </pre>
            <p>3.ตรงนี้จะเป็น การสร้างกรอบสำหรับวางภาพ ในตัวอย่างนี้ ยาว 350 พิกเซล และ กว้าง 200 พิกเซล มีเส้นกรอบหนา 1 พิกเซล<br>
              และมีคำว่า  function allowDrop(ev)  ซึ่งหมายถึงยอมให้ภาพสามารถวางที่จุดนี้ได้</p>
            <pre>&lt;style type="text/css"&gt;  #div1 {width:350px;height:200px;padding:10px;border:1px solid #aaaaaa;}  &lt;/style&gt;  &lt;script&gt;  function allowDrop(ev)</pre>
          </blockquote>
        </div> 
      </div>
   </div> 
</div>
</div>
<div class="container">
    <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
.: Kritsana.com Basic Arduino Tutorial :.
</marquee>
</div>
<div class="container">
<div class="row">
  <div class="navbar navbar-inverse navbar-bottom" style="margin-top: 25 px">
    <h5 id="footer-header" class="font-w" align="center"></h5>
    <div class="footer-copyright text-center">
    <p style="color: #ffffff" align="center"> Email : Kritsana.pr.60@ubu.ac.th <br>copyright &copy; 2016 All rught resved design by Kritsana</p>
    <p style="color: #ffffff" align="center"> </p>
    <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
    <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
    <div align="center">
    </div>
    <br>
    </div>
  </div>
</div>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  var csrf_token = '{{ csrf_token }}'
</script>
</html>