<div class="calendar_entry col-md-8">
<br>
    <div class="well-center"><div class="well">
    <h4>เตรียมตัวก่อนเริ่มเรียน</h4>
    ก่อนจะเริ่มเรียนการเขียนเว็บเพจด้วย HTML

    คุณควรจะเคยใช้โปรแกรม Word Processing หรือโปรแกรม Text Editor อย่าง Notepad มาบ้าง

    รู้ความหมายของ Website, Web page และ Homepage ว่าแตกต่างกันอย่างไร
    ถ้ายังไม่ทราบ ให้อ่านบทความนี้ก่อน
    http://www.enjoyday.net/build-website-vocab.html

    และควรจะทราบว่าการทำเว็บไซต์มีขั้นตอนคร่าว ๆ อย่างไร 
    ถ้ายังไม่ทราบ ให้ความบทความนี้ก่อน
    http://www.enjoyday.net/how-website-online.html

    HTML นั้นเป็นพื้นฐานของการทำเว็บไซต์ ถึงแม้ว่าเราจะทำเว็บไซต์โดยใช้เว็บไซต์สำเร็จรูป แต่การที่เรามีความรู้ความสามารถในการใช้งาน HTML ได้ จะช่วยให้เราสามารถปรับแต่งเว็บไซต์ของเราให้เป็นไปตามที่ต้องการได้

    บทเรียนสอนการทำเว็บไซต์ ในส่วนของการลงมือเขียนเว็บเพจ   enjoyday ได้พยายามจัดหัวข้อเรื่องใน HTML, CSS และ XHTML ให้สัมพันธ์กันเพื่อจะได้เปรียบเทียบกันได้ง่าย และพยายามนำเสนอด้วยความกระชับ เมื่อเรียนรู้แล้ว แต่ยังจำคำสั่งไม่ได้ ก็สามารถกลับมาค้นหาเรียกดูใหม่ได้อย่างสะดวกรวดเร็ว

    ถ้าพร้อมแล้วก็เริ่มเลย โดยคลิกเลือกบทเรียนจากเมนูที่อยู่ด้านซ้ายค่ะ
    </div></div>
</div>